.dropdown {
    /*  z-index: 3; */
    /*   min-width: 10rem; */
    height: auto;
    margin: 0.25rem 0;
    padding: 0 0.7rem;
    border-radius: 6px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #9ea2b1;
    text-align: center;
    outline: none !important;
    color: var(--primary-blue);
    font-weight: 600;
    font-size: 0.875rem;
    position: relative;
}
.dropdown:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(39, 63, 106, 0.349);
}

.dropdown .innerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.dropdown div svg {
    margin-left: 0.56rem;
    color: #9ea2b1;
}
.dropdown ul {
    position: absolute;
    width: 100%;
    border: 1px solid #e0dcf1;
    background: #fff;
    box-shadow: 0px 4px 10px rgb(39, 63, 106, 0.349);
    border-radius: 4px;
    padding: 0;
    margin: 0;
    z-index: 101;
    list-style: none;
    max-height: 10rem;
    overflow-y: auto;

    top: 0;
    left: 0;
}
.dropdown ul::-webkit-scrollbar {
    width: 0.75rem;
}
.dropdown ul::-webkit-scrollbar-track {
    background: var(--derived-light);
}
.dropdown ul::-webkit-scrollbar-thumb {
    background: var(--primary-blue);
    border-radius: 5px;
    width: 0.625rem;
}
.dropdown ul:first-child {
    padding-top: 0.3em;
}
.dropdown ul li {
    font-weight: 500;
    list-style: none;
    line-height: 2;
    color: var(--primary-grey);
    padding: 0 0.99rem;
    cursor: pointer;
    margin: 0.5rem 0;
    text-align: left;
}
.dropdown li:hover {
    color: var(--primary-blue);
}
/* With Search */
.dropdown .innerDiv > input {
    width: 100%;
    height: 100%;
    border: none;
}
.dropdown .innerDiv > input:focus-visible {
    outline: none;
}
.placeholderText {
    color: var(--primary-grey);
    font-size: 0.875rem;
    font-weight: 400;
}
/* Mutli select */
.multiselectOption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.selectedOptionList {
    display: flex;
    gap: 0.5rem;
}
.selectedOptionBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    border-radius: 0.25rem;
    background-color: #e2e8f0;
    padding: 0.45rem;
}
.selectedText {
    font: 0.5rem;
}
/* End of Mutli select */
.objectDropdown {
    padding: 0.5rem;
}
.objectDropdown input {
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.objectDropdown input:focus-visible {
    outline: none;
}
